/* Grid started here */
.grid__col{	width: 100%;}
@media (min-width: 35em) {
 	.grid{
 		display: table;
 		min-width: 37em;
        max-width: 72em;
        width: 100%;
        margin: 0 auto;
 		table-layout: fixed;
 	}
	.grid__col{
		display: table-cell;
	}
    .grid__col h1{
          vertical-align: middle;
    }
    
 }

/* Grid ended here */
$color-bg: #ddd;
$color1: #7C4DFF;
$color2: #ffffff;

$img-bg-people: url(https://source.unsplash.com/category/people/1000x600); //background-img

$font-weight-body: 700;
$font-weight-headings: 700;

html{
	display: table;
	width: 100%;
	height: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
	display: table-cell;
	vertical-align: middle;
	background-color: $color-bg;
	color: #fff;
	font: 1.5rem/1.1 'Khand', sans-serif;
	padding: 0 0 5rem 0;
    font-weight: $font-weight-body;
}
p, ul{font-size: 1.2rem; line-height: 140%; font-weight: 300;}
.small p{font-size: .9rem !important; letter-spacing: 0.0125em}
h1{
	font: 5rem/2.5 'Khand', sans-serif;
	letter-spacing: -.0125em;
	color: $color1;
	text-align: center;
    margin: 0 auto;
    font-weight: $font-weight-headings;
}
h2{
	font: 4rem/1.5 'Khand', sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin-top: 5rem;
    font-weight: $font-weight-headings;
}
h3{
    font: 3rem/1.2 'Khand', sans-serif;
    text-transform: none;
}
h4{
	font: 2rem/1.2 'Khand', sans-serif;
    text-transform: none;
	font-weight: 500;
}
h5{
	font: 1.5rem/1.2 'Khand', sans-serif;
    text-transform: none;
	font-weight: 600;
}
h6{
	font: 1.2rem/1.2 'Khand', sans-serif;
    text-transform: none;
	font-weight: 700;
}

.clr {
	padding: 2rem;
	vertical-align: middle;
	text-align: center;}
.clr1{	background-color: $color1; color: $color2; }
.clr2{	background-color: $color2; color: $color1; }
.clr3{	background-color:#f1f1f1; color: dimgray; }
.clr4{	background: transparent linear-gradient(135deg, #1C4956 0%, #312F4E 97%) repeat scroll 0% 0% !important;}

.cards{
	border-radius: 6px;
	border: 1px azure solid;
}

ul.pricing{
	list-style-type: none;
	margin: 0; padding: 0;
}
.pricing li{
	text-align: center;
	margin: 0 0 2em;
}

.text-adjust-left{
	text-align: left;
}
.img-rotator{overflow: hidden;}
img.responsive {width:100%; max-width: 100%;}
.bgpeople{
    background-image: $img-bg-people;
}

.h60{
    height: 60vh;
}
.h40{
    height: 40vh;
}
.h33{
    height: 33.3vh
}
.h120{
    height: 120vh;
}

.p10{padding-top: 1em; padding-bottom: 1em;}
.p20{padding-top: 2em; padding-bottom: 2em;}
.p40{padding-top: 4em; padding-bottom: 4em;}
.p60{padding-top: 6em; padding-bottom: 6em;}

.col__narrow{ 		padding-right: 20%;	padding-left: 20%;}
.col__wide{   		padding-right: 10%;   padding-left: 10%;}
.grid__col.cramp {	padding-left: 10%;	}
.grid__col.creep {	padding-right: 10%;	}

#instafeed div:nth-child(5){display: table-row;}
#here__instafeed figure a.caption{ display: none;}
#here__instafeed figure {padding: 0; margin: 0;}
#here__instafeed figure img {width: 100%;}
#here__instafeed figure:nth-child(1) {width: 100%;}
.w20{	width: 20%; }
.w30{	width: 30%; }
.w40{	width: 40%; }
.w50{	width: 50%; }
.w60{	width: 60%; }
.w70{   width: 70%; }

@media (max-width: 35em){
	.w20{	width: 100%; }
	.w30{	width: 100%; }
	.w40{	width: 100%; }
	.w70{   width: 100%; }

	.col__narrow, .col__wide{ padding-right: 3%; padding-left: 3%}
}